<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.project.mapper.SuccessKilledMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="app.project.entity.SuccessKilledEntity">
        <id column="seckill_id" property="seckillId"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        seckill_id, user_id, state
    </sql>

</mapper>