<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.project.mapper.seckill.SeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="app.project.entity.seckill.SeckillEntity">
        <id column="seckill_id" property="seckillId"/>
        <result column="name" property="name"/>
        <result column="number" property="number"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        seckill_id, name, number, start_time, end_time, version
    </sql>

    <select id="selectForUpdate" resultType="app.project.entity.seckill.SeckillEntity">
        SELECT * FROM seckill WHERE seckill_id= #{seckillId} FOR UPDATE
    </select>

</mapper>