<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.inno.pala.module.mapper.TaskGroupActivityStatisticalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.inno.pala.module.model.TaskGroupActivityStatisticalDO">
        <id column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="tenant_id" property="tenantId" />
        <result column="group_activity_id" property="groupActivityId" />
        <result column="comment_num" property="commentNum" />
        <result column="like_num" property="likeNum" />
        <result column="focus_num" property="focusNum" />
        <result column="view_num" property="viewNum" />
        <result column="hot_num" property="hotNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        creator,
        create_time,
        updater,
        update_time,
        deleted,
        tenant_id,
        id, group_activity_id, comment_num, like_num, focus_num, view_num, hot_num
    </sql>

</mapper>
