package ${cfg.extPackagePre}.${cfg.service};

import ${package.Service}.${table.serviceName};

/**
 * @description: <$!{table.comment}扩展服务类>
 * @author: ${author}
 * @date: ${date}
 * @remark:
 */
#if(${kotlin})
interface ${table.serviceName}${cfg.classNameExt} : ${table.serviceName}
#else
public interface ${table.serviceName}${cfg.classNameExt} extends ${table.serviceName} {

}
#end