package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Mapper;
import utils.tools.coll.CollectionUtils;
import utils.tools.mybatis.LambdaQueryWrapperX;
import java.util.List;
import java.util.Map;

/**
 * @description: <$!{table.comment}Mapper接口>
 * @author: ${author}
 * @date: ${date}
 * @remark:
 */
@Mapper
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {
    
    /**
     * 通过ID批量查询
     * @param ids
     * @return
     */
    default Map<Long, ${entity}> listMapByIds(List<Long> ids) {
        return CollectionUtils.convertMap(selectBatchIds(ids), ${entity}::getId);
    }

}
#end